/*.row{
	background-color: #00AFEA;
	width: 90vw;
	height : 10vh;
	text-align : center;
}*/
* {
	margin : 0;
	padding : 0;
	font-family: 'Nunito', sans-serif;
}

.history-header {
    margin: 20px 0 0 12px;
	display: flex;
	flex-direction: row;
	align-items:flex-end;
	font-size: 70px;
	vertical-align: bottom;
}
.orange-font {
	color : #FF6029;
}

.white-font {
	color : white;
}
/*.orange-font:hover {
	color : green;
}*/
/*input[type="text"]{
	border : none;
	border-radius : 10px;
	padding : 10px 5px 7px 3px;
}*/

body, div, p {
	margin: 0;
	box-sizing:border-box;
}

.history{
	width: 100%;
	padding: 25px;
}

.history-item {
	display: flex;
	flex-direction: row;
}

.history-book {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 10px;
}

.history-bookimage {
	width: 125px;
	height: 125px;
	margin-left: 15px;
	margin-top: 10px;
	border: 1px black solid;
}

.history-booktitle {
	font-size: 35px;
	width: 300px;
	margin: 0 0 10px 0;
}

.history-bookinfo {
	color: #4E4E4E;
	width: 250px;
}

.history-order {
	float: right;
	text-align: right;
	font-size: 24px;
	width: 300px;
	margin: 0 0 0 0;
	flex-grow: 3;
}

.history-orderinfo {
	justify-content: flex-end;
}

.history-review {
	cursor: pointer;
	margin-top: 40px;
	margin-right: 10px;
	border : none;
	padding : 3px 12px;
	border-radius : 3px;
	background-color : #00AFEA;
}
